.full_cont
{
    margin-top: 100px;
    display: flex;
}

.img_cont
{
    height: 400px;
    width: auto;
    margin-top: 20px;
}

@media screen and (Max-Width:600px){
    .img_cont
    {
        height: 200px;
        width: auto;
        margin-top: -70px;
        margin-left: 70px;
        position: absolute;
    }
}

@media screen and (Max-Width:600px){
    .checkout_cont
{
    margin-top: 110px;
}
}
