body {
    color: #0F1111;
    font-family: "Amazon Ember",Arial,sans-serif;
}

.fade-in-from-top {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease-in, transform 0.5s ease-in;
  }
  
  .fade-in-from-top.visible {
    opacity: 1;
    transform: translateY(0);
  }
  .top
  {

  }
  /* @media screen and (Max-Width:500px){
    .top
    {
        display: none;
    }
  } */

  .img_one
  {
    margin-left: -10px;
  }

  @media screen and (Max-Width:600px){
    .img_one
    {
        margin-left: 0px;
    }
  }

  .top_img
  {
    margin-left: -50px;
  }
  @media screen and (Max-Width:600px) {
    .top_img{
        width: 600px;
        margin-left: -30px;
        height: 50px;
    }
  }