@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.foot_head
{
    display:inline-flex;
    color: white;
}

@media (max-Width:430px)
{
    .foot_head
    {
        margin-left: 10px;
    }
}
@media (max-Width:412px)
{
    .foot_head
    {
        margin-left: 10px;
        font-size: 13px;
    }
}
@media (max-Width:381px)
{
    .foot_head
    {
        margin-left: 0px;
        font-size: 13px;
    }
}
@media (max-Width:370px)
{
    .foot_head
    {
        margin-left: 0px;
        font-size: 12px;
    }
}
.line
{
    color:white;
}

.foot_tit
{
    text-decoration: none;
    margin-left: 2px;
    margin-right: 3px;
}

@media screen and (max-Width:430px){
    .foot_tit{
        text-decoration: none;
        margin-left: 10px;
    }
}
.foot_sec
{
    margin-left: 2px;
    margin-right: 3px;
}
@media (max-Width:430px) {
    .foot_sec{
        margin-left: 40px;
    }
}
@media (max-Width:412px) {
    .foot_sec{
        margin-left: 35px;
    }
}
@media (max-Width:386px)
{
    .foot_sec{
        margin-left: 30px;
    }
}
.foot_last
{
    display:inline-flex;
    margin-left:180px; 
}

@media screen  and (max-Width:430px){
    .foot_last
    {
        display: none;
    }
    
}
.foot_cond
{
    margin-right: 5px;
}

@media screen and (max-Width:400px) {
    .foot_cond
    {
        margin-right: 0px;
        display:none;
    }
}
.foot_ind
{
    margin-left: 270px;
}

@media screen and (max-Width:400px){
    .foot_ind
    {
        margin-left: 13px;
    }
}

.midd_cont
{
    display: flex;
    flex-direction: column;
    min-height: 10vh;
}
@media screen and (max-Width:400px) {
    .midd_cont{
        /* min-height: 10vh; */
    }
}
.mid_cont_head
{
    margin-top: 0vh;
    margin-left: 480px;
    height: 20vh;
}
@media screen and (max-Width:430px){
    .mid_cont_head
    {
        margin-top: 0vh;
        margin-left: 70px;
    }
}
@media screen and (max-Width:370px){
    .mid_cont_head
    {
        margin-top: 0vh;
        margin-left: 50px;
    }
}
@media screen and (max-Width:400px) {
    .mid_con_para
    {
        margin-top: 0vh;
        margin-right:20px;
    }
}
@media screen and (max-Width:370px) {
    .mid_con_para
    {
        margin-top: 0vh;
        margin-right:10px;
    }
}
.mid_con_para
{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

@media screen and (max-Width:400px) {
    .mid_con_para
    {
        font-size: 19px;
        font-family: 'Roboto', sans-serif;
    }
}
.mid_con_btn
{
    margin-left: 55px;
    border-radius: 1px;
    background: #fff;
    color: #2e2f32;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: 700;
    height: 40px;
    width: 160px;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    box-shadow: inset 0 0 0 0 #0978e3;
}

.mid_con_btn:hover
{
    box-shadow: inset 160px 0 0 0 #0978e3;
    color: white
}
.mid_div
{
    background-color: aliceblue;
}
@media screen and (max-Width:400px) {
    .mid_div
    {
        height: 100px;
    }
}